
$primary-black:#000;

.text{
    color: $primary-black;

    &:hover{
        color: red;
    }
}

.authButton {
    width: 200px;
    padding: 10px 5px;
    border: 1px solid $primary-black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 1rem;
    cursor: pointer;

    &:hover {
        box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.1);
        transition: 200ms;
    }
}