@import 'colors';
@import 'mixins';

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  .infor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 35%;
    height: 100%;

    .username {
      margin-top: 1rem;
      color: $secondary-blue;
      margin-bottom: 1.5rem;
      text-decoration: underline;
    }

    .buttons {
        display: flex;
        margin-top: 1rem;
        div {
          flex: 1;
          color: $primary-gray-light;
          background-color: $secondary-purple-dark;
          padding: 0.5rem;
          margin: 0.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          cursor: pointer;
          &:hover {
            color: $primary-purple;
          }
        }
    }
  }

  .gallery {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    p{
        color:$primary-purple;
        font-family: 'Lora' ;
    } 
    .medias{
        cursor: pointer;
        display: flex;
        justify-content: center;

        img{
            max-width: 300px;
            max-height: 100px;
        }
        &.number{
            background-color: $secondary-purple-dark;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            color: white;
            font-size: 1.2rem;
            font-weight: 500;
            font-family: 'Arial',  sans-serif;
        }
    }
  }

  .functionList {
    width: 100%;
    .functionItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: .5rem 0 ;
      color: #FF5D5D;
      cursor: pointer;
        &:not(:last-child){
            border-bottom: 1px solid $primary-gray;
            color: white;
        }

    }
  
  }
}
