@import '../colors';
@import '../mixins';

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;

  @include respond(sm) {
    display: flex;
    flex-direction: column-reverse;
  }
  .left {
    flex-basis: 50%;

    @include respond(sm) {
      flex-basis: 100%;
    }
    .box {
      height: 100%;
      width: 70%;
      float: right;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      @include respond(md) {
        float: none;
        width: 100%;
        padding: 1rem;
      }
      span {
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        font-weight: 600;
        color: $primary-red;
        @include respond(sm) {
          font-size: 14px;
        }
      }
      h1 {
        font-family: 'Playfair Display', serif;
        font-size: 3.5rem;
        font-weight: 800;
        margin: 1rem 0;
        @include respond(sm) {
          font-size: 2rem;
        }
      }
      p {
        max-width: 500px;
        text-align: left;
        font-family: 'Roboto', sans-serif;
        line-height: 1.8rem;
        @include respond(sm) {
          font-size: 0.8rem;
          max-width: 300px;
        }
      }

      .options {
        width: 100%;
        padding-right: 3rem;
        .select {
          .head {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }

  .right {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include respond(sm) {
      justify-content: center;
      flex-basis: 100%;
    }
    img {
      @include respond(md) {
        width: 60%;
        height: 60%;
        object-fit: contain;
      }
    }
  }
}
.modalBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Playfair Display', serif;
  h2 {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
  }

  .selectBox {
    display: flex;
    justify-content: center;
    width: 100%;
    .card {
    //   background-color: rgba(0, 0, 0, 0.01);
      border-radius: 10px;
      width: 40%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      cursor: pointer;
      transition: 300ms;
      &:hover {
        box-shadow: 10px 4px 55px -5px rgba(109,109,109,0.66);
        -webkit-box-shadow: 10px 4px 55px -5px rgba(109,109,109,0.66);
        -moz-box-shadow: 10px 4px 55px -5px rgba(109,109,109,0.66);
      }
      @include respond(sm) {
        padding: 0.2rem;
      }
      .title {
        height: 70px;
        font-family: 'Playfair Display', serif;
        @include respond(sm) {
          height: 100px;
        }
      }

      .image {
        width: 100%;
        height: 100%;
        @include respond(sm) {
          width: 150px;
          height: 150px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      h3 {
        text-align: center;
      }
    }
  }

  .button {
    padding: 0.8rem 1.8rem;
    color: #fff;
    background-color: $primary-red;
    outline: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    transition: 200ms ease-in-out;
    border: 1px solid $primary-red;
    font-weight: 600;
    @include respond(sm) {
      font-size: 0.9rem;
    }
    &:hover {
      background-color: transparent;
      color: $primary-red;
      border: 1px solid $primary-red;
    }
  }
}
