@import '../colors';
@import '../mixins';

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  @include respond(md) {
    flex-direction: column;
    height: 70vh;
  }
  .left {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include respond(md) {
      flex-basis: 100%;
      img {
        max-width: 80%;
      }
    }
  }

  .right {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5rem;
    @include respond(md) {
      flex-basis: 100%;
      padding: 0 1rem;
      align-items: center;
    }
    span {
      color: $primary-red;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
    }

    h1 {
      font-family: 'Playfair Display', serif;
      font-size: 3.5rem;
      font-weight: 800;
      margin: 1rem 0;
      @include respond(sm) {
        font-size: 2rem;
      }
    }

    p {
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      max-width: 90%;
      line-height: 1.9rem;
      font-size: 1.2rem;
      color: $secondary-light-black;
      @include respond(sm) {
        max-width: 90%;
        font-size: 0.8rem;
        line-height: 1.5rem;
      }
    }

    button {
      padding: 1rem 2rem;
      color: #fff;
      background-color: $primary-red;
      outline: none;
      border: none;
      border-radius: 25px;
      cursor: pointer;
      font-size: 1.2rem;
      font-family: 'Montserrat', sans-serif;
      transition: 200ms ease-in-out;
      border: 1px solid $primary-red;
      font-weight: 600;
      @include respond(sm) {
        font-size: 0.9rem;
      }
      &:hover {
        background-color: transparent;
        color: $primary-red;
        border: 1px solid $primary-red;
      }
    }
  }
}
