@import '../colors';
@import '../mixins';


.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .option{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
}